In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from function import *
from numpy.lib.recfunctions import append_fields
plt.style.use('seaborn')

In [ ]:
#Transform incorrect datas
def transformCommasUni(line):
    out = ''
    insideQuote = False
    outQuote = False
    num = [str(i) for i in range(0,10)]
    c = 0
    while c < len(line):
        if line[c] == '"' or line[c] == "'":
            insideQuote = not insideQuote
        if line[c] == '"'  and line[c-1] in num :
            out = out[:] + line[c+1]
            c+=1
        elif insideQuote == True and line[c+1] in num  and line[c+2] == ',':
            if c+4 < len(line):
                out = out[:-1] + line[c+1] +line[c+3] +line[c+4]+line[c+5]
            c+= 5
        elif insideQuote == True and line[c] == ',' and line[c+1] not in num:
            out += '.'
        
        else:
            out += line[c]
        c+= 1
    return out

nums = []
f = open("./datasets/GraduateSalarySG.csv", "r")
replaced = (transformCommasUni(line) for line in f)
graduateSalarySG = np.genfromtxt(replaced,delimiter=',',names=True,  dtype=[('Qualification','U75'),('Faculty','U50'),('Full-Time Permanent Employment Rate','f8'),('Gross Monthly Salary Mean','i8'),('Gross Monthly Salary Median','i8'),('25th Percentile','i8'),('75th percentile','i8'),('Institution','U50'),('Year','i8'),('Data supression','U8')],usecols=(0,1,2,3,4,5,6,7,8,9))
f.close()
graduateSalarySG = graduateSalarySG[graduateSalarySG['Data_Suppression'] != 'Suppress']

In [ ]:
#Open the file for UK
f = open("./datasets/graduateSalaryUK.csv", "r")
replaced = (transformCommasUni(line) for line in f)
graduateSalaryUK = np.genfromtxt(replaced,delimiter=',',names=True, dtype =['U50','U50','U50'] +['f8' for i in range(13)] ,usecols=(0,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18))
f.close()

In [ ]:
def characteristics( arr,j):

    max = np.max(arr)
    mean = np.mean(arr)
    min = np.min(arr)
    varriation = np.var(arr)
    std = np.std(arr)
    count = np.count_nonzero(arr)
    upperQuartile = np.quantile(arr,0.75)
    LowerQuartile = np.quantile(arr,0.25)
    median = np.median(arr)
    print(f'Analysis of the 2019 {j} graduate salary\n')
    print(f'The number of elements is: {count:15.2f}\nThe min is: {min:15.2f}\nThe max is: {max:15.2f}\nThe mean is: {mean:15.2f}\nThe variance is: {varriation:15.2f}\nThe median is {median:15.2f}\nThe standard deviation is: {std:15.2f}\nThe lower quartile is {LowerQuartile:15.2f}\nThe upper quartile is {upperQuartile:15.2f}')
    print()
    return min, max, mean, varriation, std, count,median,upperQuartile,LowerQuartile

In [ ]:

#Printing out the unique values of the first dataset
print(f'\nThere are {graduateSalarySG.shape[0]} rows in this dataset and {len(graduateSalarySG[0])} columns')
print(f'\nThe names of the columns are:')
functionNeed.columnInArr(graduateSalarySG.dtype.names,graduateSalarySG)
print('\nThe unique values of each column are:')
for i in graduateSalarySG.dtype.names:
    print(f'{len(np.unique(graduateSalarySG[i]))} unique values in {i}')

There are 1264 rows in this dataset and 10 columns

The names of the columns are:
- Qualification <class 'numpy.dtype[str_]'> isnumeric: False, null values: False
- Faculty <class 'numpy.dtype[str_]'> isnumeric: False, null values: False
- FullTime_Permanent_Employment_Rate <class 'numpy.dtype[float64]'> isnumeric: False, null values: False
- Gross_Monthly_Salary__Mean <class 'numpy.dtype[int64]'> isnumeric: True, null values: False
- Gross_Monthly_Salary__Median <class 'numpy.dtype[int64]'> isnumeric: True, null values: False
- Gross_Monthly_Salary__25th_Percentile <class 'numpy.dtype[int64]'> isnumeric: True, null values: False
- Gross_Monthly_Salary__75th_Percentile <class 'numpy.dtype[int64]'> isnumeric: True, null values: False
- Institution <class 'numpy.dtype[str_]'> isnumeric: False, null values: False
- Year_of_Survey <class 'numpy.dtype[int64]'> isnumeric: True, null values: False
- Data_Suppression <class 'numpy.dtype[str_]'> isnumeric: False, null values: False

The unique values of each column are:
207 unique values in Qualification
45 unique values in Faculty
407 unique values in FullTime_Permanent_Employment_Rate
915 unique values in Gross_Monthly_Salary__Mean
245 unique values in Gross_Monthly_Salary__Median
186 unique values in Gross_Monthly_Salary__25th_Percentile
307 unique values in Gross_Monthly_Salary__75th_Percentile
6 unique values in Institution
13 unique values in Year_of_Survey
1 unique values in Data_Suppression

In [ ]:
print(f'\nThere are {graduateSalaryUK.shape[0]} rows in this dataset and {len(graduateSalaryUK[0])} columns')
print(f'\nThe names of the columns are:')
functionNeed.columnInArr(graduateSalaryUK.dtype.names,graduateSalaryUK)
print('\nThe unique values of each column are:')
for i in graduateSalaryUK.dtype.names:
    print(f'{len(np.unique(graduateSalaryUK[i]))} unique values in {i}')

There are 35 rows in this dataset and 16 columns

The names of the columns are:
- time_period <class 'numpy.dtype[str_]'> isnumeric: False, null values: False
- country_name <class 'numpy.dtype[str_]'> isnumeric: False, null values: False
- subject_name <class 'numpy.dtype[str_]'> isnumeric: False, null values: False
- providers_outcomes <class 'numpy.dtype[float64]'> isnumeric: False, null values: False
- outcomes_min <class 'numpy.dtype[float64]'> isnumeric: False, null values: False
- outcomes_LQ <class 'numpy.dtype[float64]'> isnumeric: False, null values: False
- outcomes_median <class 'numpy.dtype[float64]'> isnumeric: False, null values: False
- outcomes_UQ <class 'numpy.dtype[float64]'> isnumeric: False, null values: False
- outcomes_max <class 'numpy.dtype[float64]'> isnumeric: False, null values: False
- outcomes_diff <class 'numpy.dtype[float64]'> isnumeric: False, null values: False
- providers_earnings <class 'numpy.dtype[float64]'> isnumeric: False, null values: False
- earnings_min <class 'numpy.dtype[float64]'> isnumeric: False, null values: False
- earnings_LQ <class 'numpy.dtype[float64]'> isnumeric: False, null values: False
- earnings_median <class 'numpy.dtype[float64]'> isnumeric: False, null values: False
- earnings_UQ <class 'numpy.dtype[float64]'> isnumeric: False, null values: False
- earnings_max <class 'numpy.dtype[float64]'> isnumeric: False, null values: False

The unique values of each column are:
1 unique values in time_period
1 unique values in country_name
35 unique values in subject_name
32 unique values in providers_outcomes
31 unique values in outcomes_min
32 unique values in outcomes_LQ
29 unique values in outcomes_median
30 unique values in outcomes_UQ
15 unique values in outcomes_max
33 unique values in outcomes_diff
29 unique values in providers_earnings
27 unique values in earnings_min
29 unique values in earnings_LQ
30 unique values in earnings_median
30 unique values in earnings_UQ
29 unique values in earnings_max

In [ ]:
# ['"College of Humanities. Arts. & Social Sciences"',
#                    '"University of Nevada. Las Vegas"',
#                    'College of Engineering', 'College of Science',
#                    'DigiPen Institute of Technology',
#                    'Faculty of Arts & Social Sciences',
#                    'Faculty of Dentistry', 'Faculty of Engineering',
#                    'Faculty of Law', 'Faculty of Science',
#                    'Lee Kong Chian School of Medicine',
#                    'Multidisciplinary Programme', 'NUS Business School',
#                    'Nanyang Business School',
#                    'National Institute of Education (NIE)',
#                    'Newcastle University',
#                    'S R Nathan School of Human Development',
#                    'SIT-DigiPen Institute of Technology',
#                    'SIT-Massey University', 'SIT-Newcastle University',
#                    'SIT-Trinity College Dublin',
#                    'SIT-University of Glasgow', 'SUSS', 'SUTD',
#                    'School of Accountancy', 'School of Business',
                #    'School of Computing',
                #    'School of Design & Environment',
                #    'School of Economics', 'School of Information Systems',
                #    'School of Law', 'School of Social Sciences',
                #    'Singapore Institute of Technology',
                #    'Sports Science & Management',
                #    'Technische UniversitÃ¤t MÃ¼nchen',
                #    'The Culinary Institute of America',
                #    'The Glasgow School of Art', 'Trinity College Dublin',
                #    'University of Glasgow', 'University of Liverpool',
                #    'University of Manchester', 'Wheelock College',
                #    'Yale-NUS College', 'Yong Loo Lin School of Medicine',
                #    'Yong Siew Toh Conservatory of Music'],
#Change field for salary dataset SG
def changeToFieldSalary(n):
    courses = np.unique(n['Faculty'])
    courses = np.delete(courses, len(courses)-2)
    field = []
    field_map = {
        '"College of Humanities. Arts. & Social Sciences"': 'Arts',
        '"University of Nevada. Las Vegas"': 'Business',
        'College of Engineering': 'Engineering',
        'College of Science': 'Science',
        'DigiPen Institute of Technology': 'Computing',
        'Faculty of Arts & Social Sciences': 'Arts',
        'Faculty of Dentistry': 'Medicine',
        'Faculty of Engineering': 'Engineering',
        'Faculty of Law': 'Law',
        'Faculty of Science': 'Science',
        'Lee Kong Chian School of Medicine':'Medicine',
        'Multidisciplinary Programme':'nil',
        'NUS Business School': 'Business',
        'Nanyang Business School':'Business',
        'National Institute of Education (NIE)': 'Education',
        'Newcastle University': 'Science',
        'S R Nathan School of Human Development':'Human Resource',
        'SIT-DigiPen Institute of Technology':"Computing",
        'SIT-Massey University':"Science",
        'SIT-Newcastle University':'Engineering',
        'SIT-University of Glasgow':"Medicine",
        "SUSS":"Business",
        "SUTD":"Engineering",
        'School of Accountancy': 'Business',
        'School of Business': 'Business',
        'School of Computing': 'Computing',
        'School of Design & Environment': 'Arts',
        'School of Economics': 'Business',
        'School of Information Systems': 'Computing',
        'School of Social Sciences': 'Arts',
        'School of Law': 'Law',
        'Singapore Institute of Technology':"Computing",
        'Sports Science & Management': 'Arts',
        'Technische UniversitÃ¤t MÃ¼nchen':"Science",
        'The Culinary Institute of America': 'Arts',
        'The Glasgow School of Art': 'Arts',
        'Trinity College Dublin': 'Science',
        'University of Liverpool': 'Arts',
        'University of Glasgow': 'Computing',
        'University of Manchester': 'Science',
        'Wheelock College': 'Medicine',
        'Yale-NUS College': 'Arts',
        'Yong Loo Lin School of Medicine': 'Medicine',
        'Yong Siew Toh Conservatory of Music': 'Arts',
        "SIT-Trinity College Dublin":"Science"
    }
    for i in (n['Faculty']):
        for key, value in field_map.items():
            if i == key:
                field.append(value)
    return field

In [ ]:
#Change the wrongly categorise field 
FieldSg = changeToFieldSalary(graduateSalarySG)
for i in np.where((graduateSalarySG['Qualification'] == 'Bachelor of Science with Honours') &(graduateSalarySG['Faculty'] == 'Yale-NUS College'))[0]:
    FieldSg[i] = 'Science'

In [ ]:
#Change the wrongly categorise field 
FieldSg[1174] = 'Engineering'
FieldSg[890] = 'Science' 
FieldSg[1047] = 'Science'
FieldSg[1047] = 'Science'

In [ ]:
#Append fields
graduateSalarySG = append_fields(graduateSalarySG, 'Field', FieldSg)

In [ ]:
#Change to field for UK
field_map = {
    'Agriculture. food and related studies':'Arts',
    'Architecture. building and planning':'Arts',
    'Business and management':"Business",
    "Biosciences":"Science",
    'Celtic studies':"Arts",
    "Chemistry":"Science",
    'Allied health':"Medicine",
    'Combined and general studies':"General Studies",
    'Computing':"Computing",
    "Creative arts and design":"Arts",
    "Economics":"Business",
    'Education and teaching':"Education",
    'Engineering':"Engineering",
    'English studies':'Arts',
    'General. applied and forensic sciences':'Science',
    'Geography. earth and environmental studies':'Arts',
    'Health and social care':'Medicine',
    'History and archaeology':'Arts',
    'Languages and area studies':"Arts",
    'Law':'Law',
    'Materials and technology':'Science',
    'Mathematical sciences':"Science",
    'Media. journalism and communications':'Business',
    'Medical sciences':"Science", 
    'Medicine and dentistry':"Medicine",
    'Nursing and midwifery':"Medicine", 
    'Performing arts':"Arts",
    'Pharmacology. toxicology and pharmacy':"Medicine",
    'Philosophy and religious studies':"Arts", 
    'Physics and astronomy':"Science",
    'Politics':"Arts",
    'Psychology':"Arts",
    'Sociology. social policy and anthropology':"Arts",
    'Sport and exercise sciences':"Arts",
    "Veterinary sciences":"Science"
}
fieldUK = []
for i in (graduateSalaryUK['subject_name']):
    for key,value in field_map.items():
        if key in i:
            fieldUK.append(value)

In [ ]:
#Append field for UK
graduateSalaryUK = append_fields(graduateSalaryUK, 'Field', fieldUK)

In [ ]:
Sg = graduateSalarySG[(graduateSalarySG['Year_of_Survey'] == 2019)]
print(characteristics(Sg['Gross_Monthly_Salary__Median'],'SG Median'))
print(characteristics(Sg['Gross_Monthly_Salary__25th_Percentile'],'SG Lower Quartile'))
print(characteristics(Sg['Gross_Monthly_Salary__75th_Percentile'],'SG Upper Quartile'))

Analysis of the 2019 SG Median graduate salary

The number of elements is:          125.00
The min is:         2625.00
The max is:         5700.00
The mean is:         3699.21
The variance is:       326525.25
The median is         3600.00
The standard deviation is:          571.42
The lower quartile is         3358.00
The upper quartile is         4000.00

(2625, 5700, 3699.208, 326525.252736, 571.4238818390425, 125, 3600.0, 4000.0, 3358.0)
Analysis of the 2019 SG Lower Quartile graduate salary

The number of elements is:          125.00
The min is:         2200.00
The max is:         5200.00
The mean is:         3355.64
The variance is:       212501.65
The median is         3300.00
The standard deviation is:          460.98
The lower quartile is         3050.00
The upper quartile is         3600.00

(2200, 5200, 3355.64, 212501.65439999997, 460.9790173098988, 125, 3300.0, 3600.0, 3050.0)
Analysis of the 2019 SG Upper Quartile graduate salary

The number of elements is:          125.00
The min is:         3000.00
The max is:         9967.00
The mean is:         4175.88
The variance is:       728757.82
The median is         4000.00
The standard deviation is:          853.67
The lower quartile is         3600.00
The upper quartile is         4567.00

(3000, 9967, 4175.88, 728757.8176000001, 853.6731327621832, 125, 4000.0, 4567.0, 3600.0)

C:\Users\ruizh\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:755: UserWarning: Warning: 'partition' will ignore the 'mask' of the MaskedArray.
  a.partition(kth, axis=axis, kind=kind, order=order)

In [ ]:
#Convert to the same currecy
Uk =graduateSalaryUK[(graduateSalaryUK['time_period'] == '"201819')]
adjUkLq = np.array([1.66*(i/12) for i in Uk['earnings_LQ']])
adjUkUq = np.array([1.66*(i/12) for i in Uk['earnings_UQ']])
adjUkM = np.array([1.66*(i/12) for i in Uk['earnings_median']])
print(characteristics(adjUkM,'UK Median'))
print(characteristics(adjUkLq,'UK Lower Quaritle'))
print(characteristics(adjUkUq,'UK Upper Quartile'))

Analysis of the 2019 UK Median graduate salary

The number of elements is:           35.00
The min is:         3029.50
The max is:         6833.67
The mean is:         3941.31
The variance is:       554426.41
The median is         3735.00
The standard deviation is:          744.60
The lower quartile is         3458.33
The upper quartile is         4212.25

(3029.5, 6833.666666666667, 3941.314285714285, 554426.4075736961, 744.5981517393769, 35, 3735.0, 4212.25, 3458.333333333333)
Analysis of the 2019 UK Lower Quaritle graduate salary

The number of elements is:           35.00
The min is:         2739.00
The max is:         6723.00
The mean is:         3537.38
The variance is:       529157.99
The median is         3278.50
The standard deviation is:          727.43
The lower quartile is         3119.42
The upper quartile is         3824.92

(2739.0, 6723.0, 3537.3809523809523, 529157.9929705216, 727.432466260973, 35, 3278.5, 3824.916666666667, 3119.4166666666665)
Analysis of the 2019 UK Upper Quartile graduate salary

The number of elements is:           35.00
The min is:         3292.33
The max is:         6916.67
The mean is:         4373.31
The variance is:       629710.84
The median is         4136.17
The standard deviation is:          793.54
The lower quartile is         3790.33
The upper quartile is         4876.25

(3292.333333333333, 6916.666666666667, 4373.309523809522, 629710.8367346938, 793.5432166773867, 35, 4136.166666666666, 4876.25, 3790.3333333333335)

In [ ]:
#Get the data input base on  field for UK due to different field comapred to Singaproe
def fieldUkData(n,cat):
    fieldlUnique = np.unique(n['Field'])
    coursesInfo = {
    'Business':[],
    'Arts':[],
    'Business':[],
    'Medicine':[],
    'Education':[],
    'Engineering':[],
    'Arts':[],
    'Medicine':[],
    'Arts':[],
    'Computing':[],
    'Law':[],
    'Business':[],
    'Medicine':[],
    'Science':[],
    "General Studies":[]}
    for i in range(len(fieldlUnique)):
        
        data = n[(n['Field'] == fieldlUnique[i])][cat]
        coursesInfo[fieldlUnique[i]].append(np.mean(data))
    return coursesInfo

In [ ]:
#Get the data input base on  field for Singapore due to different field comapred to UK
def field(n,cat):
    fieldlUnique = np.unique(n['Field'])
    coursesInfo = {
    'Business':[],
    'Arts':[],
    'Business':[],
    'Medicine':[],
    'Education':[],
    'Engineering':[],
    'Arts':[],
    'Medicine':[],
    'Arts':[],
    'Computing':[],
    'Law':[],
    'Business':[],
    'Medicine':[],
    'Science':[],
    "Human Resource":[],
    }
    for i in range(len(fieldlUnique)):
        if fieldlUnique[i] == 'nil':
            continue
        data = n[(n['Field'] == fieldlUnique[i]) & (n['Year_of_Survey'] == 2019)][cat]
        coursesInfo[fieldlUnique[i]].append(np.mean(data))
    return coursesInfo

In [ ]:
#Get the median for Singapore
medianSG = field(Sg,'Gross_Monthly_Salary__Median')
medianSG = dict(sorted(medianSG.items(), key=lambda x:x[1]))
areaSGM = medianSG.keys()
medianSG = [float(f'{(i[0]):.2f}') for i in list(medianSG.values())]

In [ ]:
#Get the 75th percentile for Singapore
sfSG = field(Sg,'Gross_Monthly_Salary__75th_Percentile')
sfSG = dict(sorted(sfSG.items(), key=lambda x:x[1]))
areaSGS = sfSG.keys()
sfSG = [float(f'{(i[0]):.2f}') for i in list(sfSG.values())]

In [ ]:
#Get the 25th percentile for Singapore
tfSG = field(Sg,'Gross_Monthly_Salary__25th_Percentile')
tfSG = dict(sorted(tfSG.items(), key=lambda x:x[1]))
areaSGT = tfSG.keys()
tfSG = [float(f'{(i[0]):.2f}') for i in list(tfSG.values())]

In [ ]:
#Get the median for UK
medianUK = fieldUkData(Uk,'earnings_median')
medianUK = dict(sorted(medianUK.items(), key=lambda x:x[1]))
areaUKM = medianUK.keys()
medianUK = [float(f'{1.66*(i[0]/12):.2f}') for i in list(medianUK.values())]

In [ ]:
#Get the 75th percentile for UK
sfUK = fieldUkData(Uk,'earnings_UQ')
sfUK = dict(sorted(sfUK.items(), key=lambda x:x[1]))
areaUKS = sfUK.keys()
sfUK = [float(f'{1.66*(i[0]/12):.2f}') for i in list(sfUK.values())]

In [ ]:
#Get the 25th percentile for UK
tfUK = fieldUkData(Uk,'earnings_LQ')
tfUK = dict(sorted(tfUK.items(), key=lambda x:x[1]))
areaUKT = tfUK.keys()
tfUK = [float(f'{1.66*(i[0]/12):.2f}') for i in list(tfUK.values())]

In [ ]:

%matplotlib qt
labels =  areaSGM

x = np.arange(len(labels))  # the label locations
width = 0.35  # the width of the bars

fig, ax = plt.subplots(2,figsize=(15,10))
fig.suptitle('Salary comparison between UK and Singapore', fontsize=30,color='navy')
bar = ax[0].bar(x, medianSG, width, label='SG')

# Add some text for labels, title and custom x-axis tick labels, etc.
ax[0].set_ylabel('Salary')
ax[0].set_title('Median Salary SG 2019')
ax[0].set_xticks(x, labels)
ax[0].legend()

ax[0].bar_label(bar, padding=3)

labels = areaUKM
bar = ax[1].bar(x, medianUK, width, label='UK',color='r')

# Add some text for labels, title and custom x-axis tick labels, etc.
ax[1].set_ylabel('Salary')
ax[1].set_title('Median Salary UK 2019')
ax[1].set_xticks(x, labels)
ax[1].legend()

ax[1].bar_label(bar, padding=3)
#Buttons for interactivity
buttons = plt.axes([0.25, 0.02, 0.13, 0.02])
param_x = [0.2]
param_y = [0.6]
OptionButton = [buttons.plot([0.2, 1.2],np.full((2, 1), param_y[0]),linewidth=15,solid_capstyle='round',color=(0, 0, 0, 0.05),label='25th Percentile')]
optionMarkers = [buttons.plot(param_x[0],param_y[0], label='25th Percentile',marker='o',color='b',linestyle='None' )]

for text, x, y in zip(['25th Percentile'], param_x, param_y):
    buttons.text(x + 0.08, y,text,verticalalignment='center',label=text)
buttons.set_xticks([])
buttons.set_yticks([])
buttons.set_xlim(0, 1)
buttons.set_ylim(0, 1)

buttons.set_title(
    "25th Percentile",
)
parametersData = {
    "25th Percentile": False,
}
#Second buttons
buttons2 = plt.axes([0.75, 0.02, 0.13, 0.02])
param_x1 = [0.2]
param_y1 = [0.6]
OptionButton2 = [ buttons2.plot([0.2, 1.2],np.full((2, 1), param_y1[0]),linewidth=15,solid_capstyle='round',color=(0, 0, 0, 0.05),label='75th Percentile')]

optionMarkers2 = [buttons2.plot(param_x1[0],param_y1[0],label='75th Percentile',marker='o',color='b',linestyle='None' )]

for text, x, y in zip(['75th Percentile'], param_x1, param_y1):
    buttons2.text(x + 0.08, y,text,verticalalignment='center',label=text)

buttons2.set_xticks([])
buttons2.set_yticks([])
buttons2.set_xlim(0, 1)
buttons2.set_ylim(0, 1)

buttons2.set_title("75th Percentile")
parametersData2 = { "75th Percentile": False}
def containsLine(line, x, y):
    point_1, point_2 = line.get_xydata()
    if point_1[1]-0.3 <= y and y <= point_2[1] + 0.3:
        if point_1[0] <= x and x <= point_2[0]:
            return True
    return False
#Update function
def update(sg,uk,cat,c,button):
    ax[0].clear()
    ax[1].clear()
    if cat == '75th Percentile':
        labels = areaSGS
    elif cat == '25th Percentile':
        labels = areaSGT
    else:
        labels = areaSGM
    x = np.arange(len(labels)) 
    bar = ax[0].bar(x, sg, 0.35, label='SG')
    ax[0].set_ylabel('Salary')
    ax[0].set_title(f'{cat} Salary SG 2019')
    ax[0].set_xticks(x, labels)
    ax[0].legend()

    ax[0].bar_label(bar, padding=3)

    if cat == '75th Percentile':
        labels = areaUKS
    elif cat == '25th Percentile':
        labels = areaUKT
    else:
        labels = areaUKM
    x = np.arange(len(labels)) 
    bar = ax[1].bar(x, uk, 0.35, label='UK',color='r')

    # Add some text for labels, title and custom x-axis tick labels, etc.
    ax[1].set_ylabel('Salary')
    ax[1].set_title(f'{cat} Percentile Salary UK 2019')
    ax[1].set_xticks(x, labels)
    ax[1].legend()
    ax[1].bar_label(bar, padding=3)
    [button.plot(param_x1[0],param_y1[0],label='75th Percentile',marker='o',color=c,linestyle='None' )]
    plt.draw()
    #Provide interactivity for users
def onclick(event):
    global labels,x
    if (event.inaxes == buttons):
        for box in OptionButton:
            box = box[0]
            if (containsLine(box, event.xdata, event.ydata)):
                parametersData[box.get_label()] = not parametersData[box.get_label()]
        
        for marker in optionMarkers:
            marker = marker[0]
            if (parametersData[marker.get_label()]):
                if (marker.get_label() == '25th Percentile'):
                   update(tfSG,tfUK,'25th Percentile','g',buttons)
            else:
                update(medianSG,medianUK,'Median','b',buttons)
    elif (event.inaxes == buttons2):
        for box in OptionButton2:
            box = box[0]
        if (containsLine(box, event.xdata, event.ydata)):
            parametersData2[box.get_label()] = not parametersData2[box.get_label()]
        for marker in optionMarkers2:
            marker = marker[0]
            if (parametersData2[marker.get_label()]):
                if (marker.get_label() == '75th Percentile'):
                    update(sfSG,sfUK,'75th Percentile','g',buttons2)
            else:
               update(medianSG,medianUK,'Median','b',buttons2)


fig.canvas.mpl_connect('button_press_event', onclick)
plt.show()

In [ ]:
filteredSG = graduateSalarySG[(graduateSalarySG['Field'] != 'nil') & (graduateSalarySG['Field'] != 'Human Resource') & (graduateSalarySG['Year_of_Survey'] < 2021 )]

In [ ]:
#Remove wrong dtype
def transformCommasUni(line):
    out = ''
    insideQuote = False
    outQuote = False
    num = [str(i) for i in range(0,10)]
    c = 0
    #as long as the number is less than the length of line
    while c < len(line):
        #" inside represents that theres is a string occuring
        if line[c] == '"':
            insideQuote = not insideQuote
        #if the string occurs in a number we skip the quotation mark
        if line[c] == '"'  and line[c-1] in num :
            out = out[:] + line[c+1]
            
            c+=1
        #When it is a number in thousands remove the strings and quote
        elif insideQuote == True and line[c] in num  and line[c+1] == ',':
            if c+4 < len(line):
                out = out[:-1] + line[c] +line[c+2] +line[c+3]+line[c+4]
            c+= 4
        #When it is a number in ten thousands remove the strings and quote
        elif insideQuote == True and line[c] in num  and line[c+2] == ',':
            if c+5 < len(line):
                out = out[:-1] + line[c] +line[c+1] +line[c+3]+line[c+4] + line[c+5]
            c+= 5
        #Replace comma with . for words 
        elif insideQuote == True and line[c] == ',' and line[c+1] not in num:
            out += '.'
        
        else:
            out += line[c]
        c+= 1
    return out
nums = []
f = open("./datasets/enrolmentSGUni.csv", "r")
replaced = (transformCommasUni(line) for line in f)

enrolmentSGUni = np.genfromtxt(replaced,delimiter=',',names=True,  dtype=[('year','i8'),('sex','U50'),('course','U50'),('intake','i8'),('enrolment','i8'),('graduate','i8')])

In [ ]:
def changeToField(n):
    courses = np.unique(n['course'])

    courses = np.delete(courses,len(courses)-2)
    field = []
    field_map = {
    'Accountancy': 'Business',
    '"Architecture. Building & Real Estate"': 'Arts',
    'Business & Administration': 'Business',
    'Dentistry': 'Medicine',
    'Education': 'Education',
    'Engineering Sciences': 'Engineering',
    'Fine & Applied Arts': 'Arts',
    'Health Sciences': 'Medicine',
    'Humanities & Social Sciences': 'Arts',
    'Information Technology': 'Computing',
    'Law': 'Law',
    'Mass Communication': 'Business',
    'Medicine': 'Medicine',
    '"Natural. Physical & Mathematical Sciences"': 'Science',\
    "Natural & Mathematical Sciences":'Science',
    'Services': 'Services',
    "Applied Arts":"Arts"}
    for i in (n['course']):#
        for key,value in field_map.items():
            if i == key:
                field.append(value)
    return field

In [ ]:
enrolmentSGUni = append_fields(enrolmentSGUni, 'Field', changeToField(enrolmentSGUni))

In [ ]:
years = np.unique(graduateSalarySG['Year_of_Survey'])

In [ ]:
enrolmentSGUni = enrolmentSGUni[(enrolmentSGUni['year'] >2008) & (enrolmentSGUni['Field'] != 'Services')]

In [ ]:
#For intake
def field2(n,cat,calc,year):
    fieldlUnique = np.unique(n['Field'])
    years = np.unique(n[year])
    coursesInfo = {
    'Business':[],
    'Arts':[],
    'Business':[],
    'Medicine':[],
    'Education':[],
    'Engineering':[],
    'Arts':[],
    'Medicine':[],
    'Arts':[],
    'Computing':[],
    'Law':[],
    'Business':[],
    'Medicine':[],
    'Science':[],
    }
    for j in years:
        for i in range(len(fieldlUnique)):
            if fieldlUnique[i] == 'nil':
                continue
            data = n[(n['Field'] == fieldlUnique[i]) & (n[year] == j)][cat]
            if calc == 'mean':

                coursesInfo[fieldlUnique[i]].append(np.mean(data))
            elif calc == 'sum':
                coursesInfo[fieldlUnique[i]].append(np.sum(data))
            else:
                 coursesInfo[fieldlUnique[i]].append((data))
    return coursesInfo

In [ ]:
salary = field2(filteredSG,'Gross_Monthly_Salary__Mean','mean','Year_of_Survey')
employment = field2(filteredSG,'FullTime_Permanent_Employment_Rate','mean','Year_of_Survey')
employmnet = [i*100 for i in employment]

In [ ]:
intake =  field2(enrolmentSGUni,'intake','sum','year')
graduate = field2(enrolmentSGUni,'graduates','sum','year')

In [ ]:
%matplotlib qt
years = np.unique(enrolmentSGUni['year'])
fig,ax = plt.subplots(4,2,figsize=(15,20))
fig.suptitle('Comparing the overall trend with different fields',fontsize=30,color='navy')
x = 0
y= 0
#set the line chart dual axis
for i in intake.keys():
    ax[x//2,y].set_title(f'{i} intake')
    line  = ax[x//2,y].plot(years,intake[i],label='intake',color='b')
    ax[x//2,y].set_ylim(0,8000)
    line2 = ax[x//2,y].twinx()
    line2.set_ylim(0,1.1)
    line2.grid(False)
    line  = line2.plot(years,employment[i],label='Employment',color='g')
    line2.legend(loc='upper left')
    bar = ax[x//2,y].bar(years,list(salary.values())[x],color='y',label='Salary')
    ax[x//2,y].legend(loc = "upper right",bbox_to_anchor=(0.2, 0.9))
    ax[x//2,y].grid(False)
    if y == 1:
        y = 0
    else:
        y+= 1
    x+=1
#Buttons
buttons = plt.axes([0.3,0.03,0.5,0.06])
param_x = [0.2]
param_y = [0.8]
OptionButton = buttons.plot([0.2, 0.8],np.full((2, 1), param_y[0]),linewidth=30,solid_capstyle='round',color=(0, 0, 0, 0.05),label='Show with relation to graduates')
optionMarkers = buttons.plot(param_x[0],param_y[0], label='Show with relation to graduates',marker='o',color='b',linestyle='None' )
buttons.text(param_x[0] + 0.08, param_y[0],'Show with relation to graduates',verticalalignment='center',label='Show with relation to graduates')
buttons.set_xticks([])
buttons.set_yticks([])
buttons.set_xlim(0, 1)
buttons.set_ylim(0, 1)

paramsData = {
    "Show with relation to graduates": False
}
def update(c,cat,color):
    x = 0
    y = 0
    for i in c.keys():
        ax[x//2,y].clear()
        ax[x//2,y].set_title(f'{i} {cat}')
        line  = ax[x//2,y].plot(years,c[i],label=cat,color='b')
        line2 = ax[x//2,y].twinx()
        ax[x//2,y].set_ylim(0,8000)
        line2.set_ylim(0,1.1)
        line2.grid(False)
        line  = line2.plot(years,employment[i],label='Employment',color='g')
        line2.legend(loc='upper left')
        bar = ax[x//2,y].bar(years,list(salary.values())[x],color='y',label='Salary')
        if cat == 'Graduate':
            ax[x//2,y].legend(loc = "upper right",bbox_to_anchor=(0.24, 0.9))
        else:
            
            ax[x//2,y].legend(loc = "upper right",bbox_to_anchor=(0.2, 0.9))
        ax[x//2,y].grid(False)
        
        if y ==1:
            y = 0
        else:
            y+= 1
        x += 1
    buttons.plot(param_x[0],param_y[0], label='Show with relation to graduates',marker='o',color=color,linestyle='None' )
    plt.draw()
    plt.show()
#Provide interactivity
def onclick(event):
    if (event.inaxes == buttons):
        clicker = OptionButton[0]
        if (containsLine(clicker, event.xdata, event.ydata)):
                paramsData[clicker.get_label()] = not paramsData[clicker.get_label()]
        marker = optionMarkers[0]
        if (paramsData[marker.get_label()]):
            if (marker.get_label() == 'Show with relation to graduates'):
                update(graduate,'Graduate','g')
        else:
            update(intake,'Intake','b')
fig.canvas.mpl_connect('button_press_event', onclick)
plt.show()

C:\Users\ruizh\anaconda3\lib\site-packages\numpy\core\shape_base.py:65: UserWarning: Warning: converting a masked element to nan.
  ary = asanyarray(ary)
C:\Users\ruizh\anaconda3\lib\site-packages\numpy\lib\stride_tricks.py:536: UserWarning: Warning: converting a masked element to nan.
  args = [np.array(_m, copy=False, subok=subok) for _m in args]
C:\Users\ruizh\anaconda3\lib\site-packages\numpy\core\shape_base.py:65: UserWarning: Warning: converting a masked element to nan.
  ary = asanyarray(ary)
C:\Users\ruizh\anaconda3\lib\site-packages\numpy\lib\stride_tricks.py:536: UserWarning: Warning: converting a masked element to nan.
  args = [np.array(_m, copy=False, subok=subok) for _m in args]
C:\Users\ruizh\anaconda3\lib\site-packages\numpy\core\shape_base.py:65: UserWarning: Warning: converting a masked element to nan.
  ary = asanyarray(ary)
C:\Users\ruizh\anaconda3\lib\site-packages\numpy\lib\stride_tricks.py:536: UserWarning: Warning: converting a masked element to nan.
  args = [np.array(_m, copy=False, subok=subok) for _m in args]
C:\Users\ruizh\anaconda3\lib\site-packages\numpy\core\shape_base.py:65: UserWarning: Warning: converting a masked element to nan.
  ary = asanyarray(ary)
C:\Users\ruizh\anaconda3\lib\site-packages\numpy\lib\stride_tricks.py:536: UserWarning: Warning: converting a masked element to nan.
  args = [np.array(_m, copy=False, subok=subok) for _m in args]
C:\Users\ruizh\anaconda3\lib\site-packages\numpy\core\shape_base.py:65: UserWarning: Warning: converting a masked element to nan.
  ary = asanyarray(ary)
C:\Users\ruizh\anaconda3\lib\site-packages\numpy\lib\stride_tricks.py:536: UserWarning: Warning: converting a masked element to nan.
  args = [np.array(_m, copy=False, subok=subok) for _m in args]
C:\Users\ruizh\anaconda3\lib\site-packages\numpy\core\shape_base.py:65: UserWarning: Warning: converting a masked element to nan.
  ary = asanyarray(ary)
C:\Users\ruizh\anaconda3\lib\site-packages\numpy\lib\stride_tricks.py:536: UserWarning: Warning: converting a masked element to nan.
  args = [np.array(_m, copy=False, subok=subok) for _m in args]
C:\Users\ruizh\anaconda3\lib\site-packages\numpy\core\shape_base.py:65: UserWarning: Warning: converting a masked element to nan.
  ary = asanyarray(ary)
C:\Users\ruizh\anaconda3\lib\site-packages\numpy\lib\stride_tricks.py:536: UserWarning: Warning: converting a masked element to nan.
  args = [np.array(_m, copy=False, subok=subok) for _m in args]
C:\Users\ruizh\anaconda3\lib\site-packages\numpy\core\shape_base.py:65: UserWarning: Warning: converting a masked element to nan.
  ary = asanyarray(ary)
C:\Users\ruizh\anaconda3\lib\site-packages\numpy\lib\stride_tricks.py:536: UserWarning: Warning: converting a masked element to nan.
  args = [np.array(_m, copy=False, subok=subok) for _m in args]
C:\Users\ruizh\anaconda3\lib\site-packages\numpy\core\shape_base.py:65: UserWarning: Warning: converting a masked element to nan.
  ary = asanyarray(ary)
C:\Users\ruizh\anaconda3\lib\site-packages\numpy\lib\stride_tricks.py:536: UserWarning: Warning: converting a masked element to nan.
  args = [np.array(_m, copy=False, subok=subok) for _m in args]

# Filter with respect to insituition

In [ ]:
#filter  by insituition
def fieldByInsitute(n,cat):
    fieldlUnique = np.unique(n['Field'])
    insitute = np.unique(graduateSalarySG['Institution'])
    coursesInfo = {
    'Business':[],
    'Arts':[],
    'Business':[],
    'Medicine':[],
    'Education':[],
    'Engineering':[],
    'Arts':[],
    'Medicine':[],
    'Arts':[],
    'Computing':[],
    'Law':[],
    'Business':[],
    'Medicine':[],
    'Science':[],
    "Human Resource":[],
    }
    for j in insitute:
        for i in range(len(fieldlUnique)):
            if fieldlUnique[i] == 'nil':
                continue
            
            data = n[(n['Field'] == fieldlUnique[i]) & (n['Institution'] == j) & (n['Year_of_Survey'] ==2020)][cat]
            coursesInfo[fieldlUnique[i]].append(np.mean(data))
    return coursesInfo

In [ ]:
byinstitute = fieldByInsitute(graduateSalarySG,'Gross_Monthly_Salary__Mean')

In [ ]:
%matplotlib qt
data1 = np.array(list(byinstitute.values()))[0]
data2 =  np.array(list(byinstitute.values()))[1]
data3 = np.array(list(byinstitute.values()))[2]
data4 = np.array(list(byinstitute.values()))[3]
data5 = np.array(list(byinstitute.values()))[4]
data6 = np.array(list(byinstitute.values()))[5]
data6[0] = data5[1]

data7 = np.array(list(byinstitute.values()))[6]
data8 = np.array(list(byinstitute.values()))[7]
data9 = np.array(list(byinstitute.values()))[8]
fig,ax = plt.subplots(3,1,figsize=(15,15))
ax[0].set_title('Average salary base on field in 2020')
x_labels = ['NTU', 'NUS', 'SIT', 'SMU', 'SUSS', 'SUTD']
#Multiple bar charts
ax[0].bar(np.arange(6)-0.3,data1,label="Business",width=0.1, color=(0.2, 0.4, 0.6, 0.6))
ax[0].bar(np.arange(6)-0.2,data2,label="Arts",width=0.1, color='#93c2b3')
ax[0].bar(np.arange(6)-0.1,data3,label="Medicine",width=0.1, color='#cca88f')
ax[0].bar(np.arange(6),data4,label="Education",width=0.1, color='#7c7dc2')
ax[0].bar(np.arange(6)+0.1,data5,label="Engineering",width=0.1, color='#70b871')
ax[0].bar(np.arange(6)+0.2,data6,label="Computing",width=0.1, color='#c1cc8f')
ax[0].bar(np.arange(6)+0.3,data7,label="Law",width=0.1, color='#72abc2')
ax[0].bar(np.arange(6)+0.4,data8,label="Science",width=0.1, color='#c8e6b1')
ax[0].bar(np.arange(6)+0.5,data9,label="Human Resource",width=0.1, color='g')

ax[0].set_title('Average salary base on field in 2020')
ax[0].set_xticks(np.arange(6))
ax[0].set_xticklabels(x_labels, rotation=45)
legend = ax[0].legend(loc='center left', bbox_to_anchor=(1, 0.5))
ax[1].set_title('Top 5 salary base on field 2011')
top5 = np.sort(graduateSalarySG[graduateSalarySG['Year_of_Survey'] == 2011][['Gross_Monthly_Salary__Mean','Qualification','Field']])[-5:]
ax[1].barh(y = top5['Field'],width=top5['Gross_Monthly_Salary__Mean'])
ax[2].set_title('Top 5 Salary base on field 2020')
top52020 = np.sort(graduateSalarySG[graduateSalarySG['Year_of_Survey'] == 2020][['Gross_Monthly_Salary__Mean','Qualification','Field']])[-5:]
ax[2].barh(y=top52020['Field'],width=top52020['Gross_Monthly_Salary__Mean'])
fig.suptitle('Analysing the field and the highest paying by field',fontsize=30,color='navy')
plt.show()

C:\Users\ruizh\AppData\Local\Temp\ipykernel_52256\2010406643.py:2: UserWarning: Warning: converting a masked element to nan.
  data1 = np.array(list(byinstitute.values()))[0]
C:\Users\ruizh\AppData\Local\Temp\ipykernel_52256\2010406643.py:3: UserWarning: Warning: converting a masked element to nan.
  data2 =  np.array(list(byinstitute.values()))[1]
C:\Users\ruizh\AppData\Local\Temp\ipykernel_52256\2010406643.py:4: UserWarning: Warning: converting a masked element to nan.
  data3 = np.array(list(byinstitute.values()))[2]
C:\Users\ruizh\AppData\Local\Temp\ipykernel_52256\2010406643.py:5: UserWarning: Warning: converting a masked element to nan.
  data4 = np.array(list(byinstitute.values()))[3]
C:\Users\ruizh\AppData\Local\Temp\ipykernel_52256\2010406643.py:6: UserWarning: Warning: converting a masked element to nan.
  data5 = np.array(list(byinstitute.values()))[4]
C:\Users\ruizh\AppData\Local\Temp\ipykernel_52256\2010406643.py:7: UserWarning: Warning: converting a masked element to nan.
  data6 = np.array(list(byinstitute.values()))[5]
C:\Users\ruizh\AppData\Local\Temp\ipykernel_52256\2010406643.py:10: UserWarning: Warning: converting a masked element to nan.
  data7 = np.array(list(byinstitute.values()))[6]
C:\Users\ruizh\AppData\Local\Temp\ipykernel_52256\2010406643.py:11: UserWarning: Warning: converting a masked element to nan.
  data8 = np.array(list(byinstitute.values()))[7]
C:\Users\ruizh\AppData\Local\Temp\ipykernel_52256\2010406643.py:12: UserWarning: Warning: converting a masked element to nan.
  data9 = np.array(list(byinstitute.values()))[8]